<side-dir></side-dir>
<info-modal></info-modal>
<cm-modal></cm-modal>
<win-scroll-stats></win-scroll-stats>
<button type="button" class="sidebar-show"><i class="fa fa-bars fa-fw fa-lg" aria-hidden="true"></i>Menu</button>
<img class="logo-stats" src="../../../assets/img/the-journey-logo.png" alt="logo" />
<section class="stats-section">
    <div class="banner-wrapper">
        <h1 class="hello">Hey, {{user.name}}.</h1>
        <img id="raptor" class="drop" src="./assets/img/basics-08-128.png" alt="" />
    </div>

    <div class="hope" id="raptor-receiver">
        <p class="you-are">
            You Should Know, You're Making A Difference.
        </p>
        <p class="seuss">
            “To the world you may be one person; but to one person you may be the world.”
            <br>Dr. Seuss
        </p>
        <img id="trex" class="drop2" src="./assets/img/basics-08-128.png" alt="" />
    </div>

    <div class="keep-on" id="trex-receiver">
        <div class="keep-on-wrapper">
            <iframe class="inspiration" src="https://www.youtube.com/embed/A27QjpQ_Ieo" frameborder="0" allowfullscreen></iframe>
            <p class="infomercial">
                Below is a Map of the Number of Youth in Each State That are Incarcerated and the Number of Case Workers Those Youth are Assigned To. You're One of a Few, but Immensely Important.
            </p>
            <img class="drop3" id="triceratops" src="./assets/img/basics-08-128.png" alt="" />
        </div>
    </div>

    <div class="map-wrapper" id="triceratops-receiver">
        <div id="tooltip"></div>
        <div class="svg-container">
            <svg id="statesvg"></svg>
        </div>
    </div>
</section>
