<section class="landing-page">
  <header class="landing-head">
    <ul class="item-list">
      <li class="list-item"><img src="../../../assets/img/large_streamalong.png" alt="logo" /></li>
      <div class="right-float">
      <li class="list-item"><button class="log-in">Log In</button></li>
      <li class="list-item"><button class="sign-up">Sign Up</button></li>
    </div>
    </ul>
  </header>
  <section class="body-LP">
  <div class="title-LP">
    <h1>Connecting Those That Serve Our Youth</h1>
  </div>
</section>
</section>
