<side-dir></side-dir>
<info-modal></info-modal>
<button type="button" class="sidebar-show">Menu</button>
<section class="client-section">
    <div class="client-wrapper">
        <div class="client-container" ng-repeat="client in clients track by $index">
            <img class="client-img" ng-src="{{ client.client_image }}" alt="img" ng-click="readProgramId(client)" />
            <br>
            <h1>{{ client.name }}</h1>
            <!-- <i class="fa fa-trash fa-fw" id="clientDelete" ng-click="deleteClient(client.id)"></i> -->
        </div>
    </div>
    <div class="client-hover-container">
        <div class="client-hover">
            <h1>{{ selectedClient.name }}</h1>
            <img ng-src="{{ selectedClient.client_image }}" />
            <p>{{ selectedClient.city }}</p>
            <p>{{ selectedClient.description }}</p>
            <p>{{ selectedClient.phone_number }}</p>
            <!-- <button type="button" name="button" class="delete-client" ng-click="deleteProgram(selectedClient.id)">REMOVE</button> -->
        </div>
    </div>

    <div class="client-modal">
        <form class="modal-content">
            <div class="client-modal-content">
                <span class="close-modal">&times;</span>
                <h1>Enter New Client Information</h1>
                <br>
                <label>Name</label>
                <input class="client-input" type="text" name="name" placeholder="Enter Client Name" ng-model="newClient.name" required>
                <label>Age</label>
                <input class="client-input" type="text" name="name" placeholder="Enter Client's Age" ng-model="newClient.age" required>
                <label>Date of Birth</label>
                <br>
                <input class="client-input" type="text" id="date" data-format="DD-MM-YYYY" data-template="D MMM YYYY" name="date" placeholder="Enter Client's Date of Birth" ng-model="newClient.date_of_birth" required>
                <br>
                <label>Case Manager</label>
                <input class="client-input" type="text" name="name" placeholder="Enter Client's Case Manager Name" ng-model="newClient.case_manager" required>
                <label>Case Manager ID</label>
                <input class="client-input" type="text" name="name" placeholder="Enter Client's Case Manager ID" ng-model="newClient.case_manager_id" required>
                <label>Image</label>
                <input class="client-input" type="text" name="name" placeholder="Enter Client's Image URL" ng-model="newClient.client_image" required>
                <button class="program-btn" type="button" name="button" ng-click="addClient(newClient)">Submit</button>
            </div>
        </form>
    </div>
</section>
