@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans';
html, body {
    height: 100%;
}

/*@media ()*/


/*Typed JS*/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
    height: 5px;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*Landing Page Styling*/

.landing-page {
    height: 100vh;
    width: 100vw;
    background: url('../img/3Zk4aNH.jpg') center center no-repeat;
    background-size: cover;
}
::-webkit-scrollbar {
    display: none;
}
.landing-head {
    height: 10vh;
    width: 100vw;
    display: flex;
    background: transparent;
}
.item-list {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list-item img {
    width: 30%;
}
.right-float {
    display: flex;
    margin-right: 20px;
    width: 15vw;
    justify-content: space-between;
    font-family: 'Lato';
}
.log-in {
    height: 5vh;
    width: 6vw;
    background: #94B0DA;
    border: none;
    border-radius: 2px;
    font-family: 'Lato';
}
.sign-up {
    height: 5vh;
    width: 7vw;
    background: #EF6F6C;
    border: none;
    border-radius: 2px;
    font-family: 'Lato';
}
.radio-container {
    display: flex;
    width: 50%;
}
.radio {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    font-family: 'Lato';
}
.body-LP {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.title-LP {
    width: 60vw;
    margin-top: 20%;
    font-size: 3rem;
    font-family: 'Open Sans';
    font-weight: bold;
    display: block;
}
.work {
    font-size: 3rem;
    font-family: 'Lato';
    font-weight: 700;
}
.filter {
    position: absolute;
    bottom: 2vh;
    height: 5vh;
    -webkit-filter: invert(1);
    filter: invert(1);
}
.lp-about {
    width: 100%;
    height: 100%;
    padding: 3%;
    background: #9F9F92;
}
.lp-breaker {
    width: 30%;
    border: 2px solid black;
    border-radius: 5px;
}
.inverse-container {
    opacity: 0;
    transform: translateX(-40px);
    height: 33.3%;
    width: 100%;
    display: flex;
    align-items: center;
}
.img-container-left {
    height: 100%;
    width: 33.34%;
    background: url('../img/07Enhance-Knowledge-Sharing.png')center no-repeat;
    background-size: contain;
}
.text-container-right {
    display: flex;
    flex-direction: column;
    padding: 5%;
    justify-content: center;
    align-items: center;
    width: 66.6%;
    height: 100%;
    background: ;
    font-family: 'Lato';
    line-height: 1.5;
    font-size: 120%;
}
.headline {
    font-size: 200%;
}
.middle-container {
    opacity: 0;
    height: 33.3%;
    width: 100%;
    transform: translateX(40px);
}
.img-container-right {
    height: 100%;
    width: 33.34%;
    background: url('../img/55ce1a42fa280e4905d13dec_icon-family green.png')center no-repeat;
    background-size: contain;
    float: right;
}
.text-container-left {
    float: left;
    display: flex;
    flex-direction: column;
    padding: 5%;
    align-items: center;
    justify-content: center;
    width: 66.6%;
    height: 100%;
    background: ;
    font-family: 'Lato';
    line-height: 1.5;
    font-size: 120%;
}
.img-container-left2 {
    height: 100%;
    width: 33.34%;
    background: url('../img/Improve-Collaboration.png')center no-repeat;
    background-size: contain;
}
.is-showing {
  opacity: 1;
  transform: translateX(0px);
  transition: all .5s ease-in-out;
}
.lp-footer {
    height: 8vh;
    width: 100vw;
    background: #475E58;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
.lp-icons {
    color: #000;
}
.copyright {
    font-family: 'Open Sans';
    font-size: 120%;
}

/*Modals*/

.login-modal, .signup-modal, .programs-modal, .client-modal, .info-modal, .CM-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-noScroll {
    overflow: hidden;
}
.modal-img {
    text-align: center;
}
.modal-img img {
    width: 40%;
    border-radius: 50%;
}
.login-input, .programs-input, .client-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.login-modal-content {
    border-radius: 5px;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}
.signup-modal-content {
    border-radius: 5px;
    width: 50%;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}
.signup-modal-content h1 {
    font-family: 'Open Sans';
}
.signup-input {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.close-modal {
    float: right;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    z-index: 1000;
}
.close-modal:hover, .close-modal:focus {
    color: red;
    cursor: pointer;
}
.google {
    float: right;
    margin-top: 1px;
    height: 5vh;
    width: 12vw;
    border: none;
    border-radius: 2px;
    background: url('../../assets/img/btn_google_signin_dark_normal_web.png')center center no-repeat;
    background-size: cover;
}
label {
    font-family: 'Open Sans';
}
input {
    font-family: 'Lato';
}
.fa-trash {
    cursor: pointer;
}

/*SideBar Styling*/

.sidebar {
    position: fixed;
    display: none;
    height: 100vh;
    width: 15vw;
    float: left;
    background: #04395E;
    color: white;
    overflow: hidden;
    z-index: 99;
}
.sidebar-show {
    position: fixed;
    display: flex;
    margin-left: -.4%;
    color: #fff;
    background: #04395E;
    z-index: 100;
    bottom: 2vh;
    left: 0;
    height: 5vh;
    border: none;
    border-radius: 0 10px 10px 0;
    font-family: 'Lato';
    font-size: 1rem;
    outline: none;
}
.dash {
    display: flex;
    align-items: center;
    font-family: 'Lato';
    font-size: 1rem;
    height: 7vh;
    cursor: pointer;
}
.one-click {
    display: flex;
    align-items: center;
    font-family: 'Lato';
    font-size: 1rem;
    height: 7vh;
}
.dash:hover {
    background: white;
    color: #282F42;
}
.dash-dropmenu {
    display: none;
    width: 100%;
    background: #3066BE;
}
.tabs-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.user-profile {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.user-profile img {
    height: 60%;
    width: 50%;
    border-radius: 50%;
}
.user-profile p {
    font-size: 20px;
    font-family: 'Open Sans';
    margin-top: 2vh;
}

/*Home Page Styling*/

header {
    display: flex;
    align-items: center;
    height: 8vh;
    width: 100vw;
    background: transparent;
}
.logo-internal {
    width: 15%;
    height: auto;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.admin-dash {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url('../img/photo-1464800959563-472c0567132f-compressor.jpeg') center no-repeat;
    background-size: cover;
}
.home-wrap {
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2%;
}
.loading {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 5%;
    z-index: 999;
}
.weather {
    visibility: hidden;
    color: #fff;
    font-size: 110%;
    font-family: 'Lato';
    position: absolute;
    top: 3%;
    right: 4%;
    font-weight: 300;
    width: 5%;
    display: flex;
}
.weather-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.weather-info h1 {
    font-weight: normal;
}
.icon-container {
    font-size: 150%;
    display: flex;
    align-items: center;
    margin-right: 1vw;
}
.time {
    color: white;
    font-size: 1000%;
    font-family: 'Open Sans';
    font-weight: bold;
}
.userGreeting {
    color: #fff;
    font-family: 'Open Sans';
    font-size: 300%;
}
.quotes {
    width: 50%;
    color: white;
    font-family: 'Lato';
    font-size: 120%;
    position: absolute;
    bottom: 2vh;
    line-height: 120%;
    text-align: center;
}
.author {
    font-weight: 300;
}

/*Program View*/

.programs-wrapper, .client-wrapper {
    width: 100%;
    height: 90%;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
}
.programs-section {
    height: 100%;
    width: 100%;
    background: #1D4350;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1D4350, #A43931);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1D4350, #A43931);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.program-container, .client-container {
    height: 250px;
    width: 350px;
    margin: .5%;
    border-radius: 5px;
    background: #ecf0f1;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
    text-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.program-container a {
    width: 100%;
    height: 100%;
}
.program-container:hover, .client-container:hover {
    -webkit-box-shadow: 0px 5px 17px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 17px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 17px 1px rgba(0, 0, 0, 0.75);
}
.program-btn {
    background: #94B0DA;
    border: none;
    border-radius: 2px;
    font-family: 'Lato';
    font-size: 120%;
    height: 5vh;
    width: 10vw;
    margin-top: 1vh;
}
#programDelete {
    visibility: hidden;
    margin-left: 50%;
    cursor: pointer;
}
.hidden {
    visibility: hidden;
}
.programs-modal-content {
    border-radius: 5px;
    width: 50%;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}
.programs-modal-content h1 {
    font-family: 'Lato';
}

/*Client Section*/

.client-section {
    height: 100%;
    width: 100%;
    overflow: auto;
    background: #4B79A1;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4B79A1, #283E51);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4B79A1, #283E51);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#date {
    margin: 2px 0;
}
.img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.client-img, .program-img {
    width: 100%;
    height: 100%;
}
.client-container a {
    height: 100%;
    width: 100%;
}
.client-modal-content, .CM-modal-content {
    border-radius: 5px;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    width: 30%;
}
.client-modal-content h1, .CM-modal-content h1 {
    font-family: 'Lato';
}
#program-delete {
    float: right;
    padding-top: 10%;
    cursor: pointer;
}
#clientDelete {
    position: absolute;
    bottom: 1%;
    right: 1%;
}

/*
Info modal
*/

.info-modal-straight {
    font-family: 'Lato';
    width: 30%;
    margin: 15% auto;
    border-radius: 5px;
}
.info-img {
    width: 100%;
    margin: 0;
    position: relative;
    -webkit-box-shadow: inset 0px 1px 69px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 1px 69px -8px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 1px 69px -8px rgba(0, 0, 0, 0.75);
}
.banner {
    text-align: center;
}
.no-display {
    display: none;
}
.no-clients {
    font-size: 200%;
    font-family: 'Open Sans';
    color: #fff;
    text-align: center;
    position: absolute;
}
.client-tab, .programs-tab {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.icon-invert i {
    cursor: pointer;
}
.breaker {
    width: 20%;
}
