<side-dir></side-dir>

<div align="center"><object width="640" height="480"><param name="movie" value="http://www.embeddablegames.net/embedgames/superflashmariobros.swf"><param name="quality" value="high"><embed src="http://www.embeddablegames.net/embedgames/superflashmariobros.swf" quality="high" width="640" height="400" type="application/x-shockwave-flash" pluginspage= "http://www.macromedia.com/go/getflashplayer"></embed></object></div>

<div align="center"><object width="640" height="480"><param name="movie" value="http://www.embeddablegames.net/embedgames/angry.swf"><param name="quality" value="high"><embed src="http://www.embeddablegames.net/embedgames/angry.swf" quality="high" width="640" height="400" type="application/x-shockwave-flash" pluginspage= "http://www.macromedia.com/go/getflashplayer"></embed></object></div>
