<side-dir></side-dir>
<info-modal></info-modal>
<cm-modal></cm-modal>
<button type="button" class="sidebar-show"><i class="fa fa-bars fa-fw fa-lg" aria-hidden="true"></i>Menu</button>
<section class="admin-dash">
    <header>
        <img class="logo-internal" src="../../../assets/img/the-journey-logo.png" alt="logo" />
    </header>
    <div class=home-wrap>
        <div class="weather">
            <div class="icon-container">
                <i class="wi wi-owm-{{ now.weather[0].id }} wi-2x"></i>
            </div>
            <div class="weather-info">
                <h1>{{ now.main.temp | number: 0 }}°</h1>
                <p>{{ now.name }}</p>
            </div>
        </div>
        <div class="time">
            {{ clock }}
        </div>
        <div class="userGreeting">
            <h1>Hello, {{ user.name }}.</h1>
        </div>
        <div class="quotes">
            <h1>"{{ quote.quoteText }}"</h1>
            <p class="author">{{ quote.quoteAuthor }}</p>
        </div>
    </div>
</section>
