<side-dir></side-dir>
<info-modal></info-modal>
<main>
    <button type="button" class="sidebar-show">Menu</button>
    <section class="admin-dash">
        <div class="weather">
            <div class="icon-container">
                <i class="wi wi-owm-{{ now.weather[0].id }} wi-2x"></i>
            </div>
            <div class="weather-info">
                <h1>{{ now.main.temp | number: 0 }}°</h1>
                <p>{{ now.name }}</p>
            </div>
        </div>
        <div class="time">
            {{ clock }}
        </div>
        <div class="userGreeting">
            <h1>Hello, {{ user.name }}.</h1>
        </div>
        <div class="quotes">
            <h1>"{{ quote.quoteText }}"</h1>
            <p class="author">-- &nbsp; {{ quote.quoteAuthor }}</p>
        </div>
    </section>
</main>
